* {
	margin: 0;
	font-family: sans-serif;
}

body {
	height: 100vh;
	display: grid;
	justify-content: center;
	gap: 10px;
}

.contener {
	width: 100%;
	display: grid;
	margin-top: 50px;
	gap: 50px;
	grid-template-columns: repeat(2, 260px);
	grid-template-rows: repeat(2, 260px);
}

.imgdiv {
	display: grid;
	place-items: center;
	background-color: rgb(56, 56, 51);
}

img {
	width: 260px;
	height: 260px;
}

.loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	--c: no-repeat radial-gradient(farthest-side, rgb(167, 176, 37) 92%, #00000000);
	background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
	background-size: 12px 12px;
	animation: l12 1s infinite;
}
.loader::before {
	margin: 4px;
	filter: hue-rotate(45deg);
	background-size: 8px 8px;
	animation-timing-function: linear;
}

@keyframes l12 {
	100% {
		transform: rotate(0.5turn);
	}
}
